<html>
    <head>
      <link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}">
        {% if title %}
        <title>{{ title }} - Satoshis Room</title>
        {% else %}
        <title>Welcome to Satoshis Room</title>
        {% endif %}
    </head>
<body>
  <!--navigation bar "navbar navbar-fixed-top" -->
  {% block navbar %}
    <div class="navbar navbar-dark bg-dark">
      <a href="{{url_for('index')}}">Home</a>
      <a href="{{url_for('login')}}">Login</a>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li> {{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith%}

  {% endblock %}
  <hr>
  <!--page specific content-->
  {% block content %}{% endblock%}

    <footer>
         <p class="text-center small"> Satoshis Room | 2019</p>
    </footer>


</body>
</html>
